name: e2e

on:
  workflow_dispatch

env:
  CYPRESS_BACKEND_URL: https://vesialue-back-e2e.herokuapp.com
  REACT_APP_BACKEND_URL: https://vesialue-back-e2e.herokuapp.com

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        
      - name: Checkout frontend repo
        uses: actions/checkout@v3
        with:
          repository: ohtuprojekti-2022/vesialue-front
          path: front
      - name: install front dependencies
        run: npm install
        working-directory: front
        
      - name: heroku e2e test backend
        run: curl https://vesialue-back-e2e.herokuapp.com

      - name: start frontend
        run: npm start &
        working-directory: front

      - name: e2e tests
        uses: cypress-io/github-action@v4
        with:
          config: 
            baseUrl=http://localhost:3000
          working-directory: E2E
          browser: chrome
          wait-on: http://localhost:3000, https://vesialue-back-e2e.herokuapp.com
