name: e2e

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        
      - name: Checkout frontend repo
        uses: actions/checkout@v3
        with:
          repository: ohtuprojekti-2022/vesialue-front
          path: front
      - name: install front dependencies
        run: npm install
        working-directory: front
        
      - name: heroku e2e test backend
        run: curl ${{ secrets.E2E_TEST_BACKEND_URL }}

      - name: start frontend
        run: npm start &
        env: 
          REACT_APP_BACKEND_URL: ${{ secrets.E2E_TEST_BACKEND_URL }}
        working-directory: front

      - name: e2e tests
        uses: cypress-io/github-action@v4
        with:
          config: 
            baseUrl=http://localhost:3000
          env:
            CYPRESS_BACKEND_URL=${{ secrets.E2E_TEST_BACKEND_URL }}
          working-directory: E2E
          browser: chrome
          wait-on: http://localhost:3000, ${{ secrets.E2E_TEST_BACKEND_URL }}
